.project-page {
  display: flex;
  border-bottom: 3px solid black;
}
h2 {
  font-family: "TAN - twinkle";
  text-transform: uppercase;
}

p,
h3 {
  font-family: "Nunito Sans", serif;
}
.carousel-container {
  flex: 2;
  position: relative;
  margin: auto;
  text-align: center;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
}

.carousel-slide {
  display: none;
}

.carousel-slide.active {
  display: block;
}

img {
  width: 100%;
  height: auto;
}

button {
  transform: translateY(-50%);
  background-color: #fff9ee;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 1;
  margin: 2rem;
  border-radius: 50%;
  font-size: 2rem;
}

button:nth-child(2) {
  left: 0;
}

button:nth-child(3) {
  right: 0;
}
