@media (min-width: 769px) {
  .project-page {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
  }

  .slider-div {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .project-page {
    display: flex;
    flex-direction: column;
  }
}
