* {
  font-family: "TAN - TWINKLE";
  color: black;
}

.name,
.occupation {
  text-transform: uppercase;
  display: flex;
  text-align: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 28rem;
  }
  .presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 100%;
  }

  .name {
    font-size: 2.5rem;
  }

  .occupation {
    font-size: 1rem;
  }
  img {
    height: 7rem;
  }

  .img-yennie {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Desktop Responsiveness */
@media (min-width: 769px) {
  .hero {
    display: flex;
    align-items: center; /* Aligne les éléments verticalement */
    justify-content: space-around; /* Répartit uniformément les éléments avec de l'espace autour */
    border-bottom: 3px solid black;
  }

  .name {
    font-size: 4rem;
  }
  .occupation {
    font-size: 2rem;
  }
  .img-yennie img {
    height: 12rem;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
}

@media (min-width: 1200px) {
  .hero {
    display: flex;
    align-items: center; /* Aligne les éléments verticalement */
    justify-content: space-around; /* Répartit uniformément les éléments avec de l'espace autour */
    border-bottom: 3px solid black;
    height: 20rem;
  }

  .presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 100%;
  }

  .name {
    font-size: 4rem;
  }

  .occupation {
    font-size: 2rem;
  }

  .img-yennie {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-yennie img {
    height: 17rem; /* Augmente la taille de l'image pour les grands écrans si nécessaire */
  }
}
