h1 {
  font-family: "TAN - twinkle";
  text-transform: uppercase;
}
.about-me-description {
  font-family: "Nunito Sans", serif;
}

@media (max-width: 768px) {
  .about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  img {
    padding-top: 2rem;
    width: 100%;
    max-width: 15rem;
    height: auto;
    object-fit: contain;
  }
  h1 {
    font-size: 1.5rem;
  }
  .about-me-description {
    padding: 1.5rem;
  }
}

@media (min-width: 769px) {
  .about-me-page {
    display: flex;
    border-bottom: 3px solid black;
  }
  .about-me-container {
    display: flex;
    flex: 2;
  }
  .about-me-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 15rem;
    object-fit: contain;
    height: auto;
    padding-left: 2rem;
  }
  .about-me-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }
}
@media (min-width: 1200px) {
  img {
    width: 25rem;
    font-size: 2rem;
  }
  .about-me-description {
    padding: 3rem;
  }
}
