h1 {
  font-family: "TAN - Twinkle";
  text-transform: uppercase;
}

/* Media Queries */
@media (max-width: 768px) {
  h1 {
    border-bottom: 3px solid black;
    text-align: center;
    margin: 0;
    padding: 1rem;
  }
}

/* Desktop Responsiveness */
@media (min-width: 769px) {
  .page-title {
    height: 100vh;
    display: flex;
    align-items: center;
    width: 25rem;
    border-right: 3px solid black;
    border-right: 3px solid black;
  }
  h1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 2rem;
  }
}

@media (min-width: 1200px) {
}
